#idFormulario{
     text-align: center;
    position: relative;
    top: 15%;
    margin: 0% 35%;
    width: 30%;
    padding-bottom: 60px;
    color: white;
    overflow: hidden;
    background-color: rgba(1, 1, 1, 0.73);
}
header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}
header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}


header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

.contenido{
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    padding-left: 2em;
    padding-right: 2em;
    line-height: 1.6em
}
.content-ti {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}
#campoReloj {
    text-align: center;
    width: 100%;
    background: transparent;
    border: none;
    color: #ccc;
    letter-spacing: 2px;
    font-size: 20px;
    -webkit-transition: all 0.5s;
}
   #menu {
    margin-left: -150px;
    width: 150px;
    height: 160%;
    position: fixed;
    top: 0;
    left: 0px ;
    bottom: 0;
    z-index: 1000;
    background: #191818;
    overflow-y: auto;
    transition: all 0.3s;
    -webkit-transition: all 0.5s;
    }
body {
    color: #777;
}
.menuLink{
    font-size: 30px;
    cursor: pointer;
    transition: all 0.2s;
    position: fixed;
}
.menuLink:hover{
    font-size: 40px;
    color: red;
}

footer{
    position: initial;
   
    text-align: center;
    width: 100%;
    height: 10%;
    top: 95%;
    right: 0;
    bottom: 100%;
    left: 0;
    background-color: rgba(1,1,1,.9);
}

     

}body {
    color: #777;
}
.img {
     width: 200px;
     height: 300px;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}#menu .menu-heading {
    font-size: 110%;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    white-space: nowrap;
    background: #1F34D6;
    text-align: center;
}

#menu :hover{
  left: 160px ;
}
#menu a {
    color: #999;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
}
a:active, a:hover {
    outline: 0;
}
.menu-lista{
    list-style: none;
     display: block;
    text-decoration: none;
    white-space: nowrap;

}
.menu-opc{
    display: block;
    text-decoration: none;
    white-space: nowrap;

}.menu-item {
    padding: 0;
    margin: 0;
    height: 100%;
    display: block;
    text-decoration: none;
    white-space: nowrap;

}
h2,p{
text-align: center;
}
.img {
    width: 200px;
    height: 300px;
}
.divimg{
    width: 25%;
}
.imagelist{
        display: -webkit-flex;
}